header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    background-image: url(donwloads/welcome\ page.jfif);
    height: 300px;
    align-items: center;
    padding: 20px;
    font-size: 50px;
    color: aqua;
    border-radius: 15px;

}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 5px;
    background-image: url(donwloads/nav\ image.jfif);
    height: 100%;
    flex-wrap: nowrap;
    border-radius: 10px;
    position: fixed;
    right: 0;
    top: 75px;

}

nav ul li{
    text-decoration: none;
    list-style: none;
    margin-top: 20px;
    margin-right: 20px;
    font-weight: bold;
    font-size: large;
    color: blue;
    padding: 20px;
}

nav ul li a{
    display: flex;
    text-decoration: none;
    text-align: center;
    justify-content: space-around;
}

nav ul li img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

main{
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;

}

.techicon img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: contain;
}

.wrapper{
    width: 50%;
    display:flex;
    flex-direction: column;
    object-fit: contain;
    justify-content: center;
    justify-content: space-between;
    gap: 10px;
    background-image: url(donwloads/wrapper\ page.jfif);
    width: 100%;
    border-radius: 50px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.search img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.search{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 10%;
} 
.search input{
    border-radius: 5px;
    border: 2px solid aqua;
}


.card{
    background-image: url(donwloads/card\ image.webp);
    border-radius: 10%;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
}

.card img{
    width: 200px;
    height: 200px;
    border-radius: 25%;
}

.new {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 10px;
}

.offers{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 10px
}

.best{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 10px
}

hr{
    height: 10px;
    border-radius: 5px;
    width: 75%;
    background-color: black;
}

footer{
    bottom: o;
    background-color: aqua;
    border-radius: 20px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    color: aliceblue;
    font-weight: bold;
    background-image: url(donwloads/footer\ image.webp);
}